################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cad-BenefAPI/Models/BeneficiariosAtivosRequest.cs
/Cad-BenefAPI/BuilderExtensions.cs
/Cad-BenefAPI/BuilderExtensions.cs
/Cad-BenefAPI/Program.cs
